<html>
    <head>
        <title>Menù</title>
    </head>
    <body>
        <form action = "/login", method="POST">
            <p>Inserisci il nickname:</p> 
            <input type = "text" name = "nome"><br>
            <p>Inserisci la password</p>
            <input type = "password" name = "password"><br>
            <p>Seleziona il tuo sesso:</p>
            <input type = "radio" name = "sesso" value = "Maschio">Maschio<br>
            <input type = "radio" name = "sesso" value = "Femmina">Femmina<br>
            <input type = "radio" name = "sesso" value = "Altro">Altro<br><br>
            <input type = "submit" value="submit" />
        </form>
    </body>
</html>