<html>
    <head>
        <title>Menù</title>
    </head>
    <body>
        <form action = "/risultato", method="GET">
            <select name = "area">
                <option value = "quadrato">Quadrato</option>
                <option value = "rettangolo">Rettangolo</option>
            </select>
            <p>Inserisci il valore della base (lato)</p> 
            <input type = "text" name = "base"><br>
            <p>Inserisci il valore dell'altezza</p>
            <input type = "text" name = "altezza"><br><br>
            <input type = "submit" value="submit" />
        </form>
    </body>
</html>